---
---
<!DOCTYPE html>
<html>
<head>
<title>严俊羿</title>
{% include head.tpl %}
<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
</head>

<body class="page-type-index">
<div id="page">
	<div id="card">
		<header>
			<img src="{{site.meta.gravatar}}{{site.meta.author.gravatar}}?s=80" width="80" height="80" />
			<h1 data-translate="name">严俊羿</h1>
			<h2 data-translate="title">Web工程师，自由职业者</h2>
		</header>
		<ul>
			<li id="link-works"><a href="works/"><i class="fa fa-briefcase"></i><span data-translate="works">作品</span></a></li>
			<li id="link-blog"><a href="blog/"><i class="fa fa-rss"></i><span data-translate="blog">博客</span></a></li>
			<li id="link-mail" class="half"><a href="mailto:" class="mail"><i class="fa fa-envelope"></i><span></span></a></li>
			<li id="link-wechat" class="quarter"><a href="wxp://f2f0k8-BiJCZYl1yuUC-em-1IkCZDWWg9vdj" title="WeChat"><i class="fa fa-weixin"></i><span></span></a></li>
			<li id="link-github" class="quarter"><a href="https://github.com/mytharcher" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a></li>
			<li id="link-google-plus" class="quarter"><a href="https://plus.google.com/105451024375026080807" target="_blank"><i class="fa fa-google-plus"></i><span data-translate="google-plus">+我</span></a></li>
			<li id="link-more" class="quarter"><a href="#more"><i class="fa fa-ellipsis-h"></i></a></li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="http://elfjs.qiniudn.com/code/elf-0.5.0.min.js"></script>
<script type="text/javascript" src="http://mbed.qiniudn.com/yanjunyi.com/js/qrcode.min.js"></script>
<script type="text/javascript" src="/assets/js/site.js"></script>
{% include baidu-stats.tpl %}
</body>
</html>
