---
layout: list
title: 日新月异
---

{% include header.tpl %}

<!-- 日新月异分类 -->
{% assign list = site.categories.discovery %}

{% for post in list limit:limitation %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

{% if this_year != last_year %}
{% unless forloop.first %}
</article>
{% endunless %}
<article>
	<h2>{{ this_year }}</h2>
{% endif %}
	<h3>{{ post.date | date: "%b" }}</h3>
	{{ post.content }}
{% if forloop.last %}
</article>
{% endif %}
{% capture last_year %}{{ this_year }}{% endcapture %}

{% endfor %}

{% if list == null %}
<article class="empty">
	<p>该分类下还没有文章</p>
</article>
{% endif %}
